// ---------------------------------------------------------------Общие настройки---------------------------------------------------------------
body{
    font-family: 'Roboto', sans-serif;
    color: $color-title; 
    font-size: 14px;
    font-weight: 400;
}  

.container{   
        max-width: 450px;
        box-sizing: content-box;
        margin: 0px auto;

    @media (max-width: 450px){
        margin: 0px 15px;
    }
    
    @media (min-width: $tablet){
        max-width: 738px;
        box-sizing: content-box;
        margin: 0px auto;
    }

    @media (min-width: $desktop){
        max-width: 1200px;
        box-sizing: content-box;
        margin: 0px auto;
    }

}
img {
display: block;
max-width: 100%;
height: auto;
}